{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
  <title>{% block title %}Secrets{% endblock %}</title>
  {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Welcome</h1>
		<p>Are you ready to discover my secret?</p>
		<a href="{{ url_for('login') }}" class="btn btn-primary btn-lg text-white">Login</a>
	</div>
{% endblock %}